<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>First</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="diabetes.css">
</head>
<body>
    <div class="upper">
        <header>
            <div class="main">
                <nav>
                    <div class="leftnav">GharKaDoctor</div>
                    <div class="rightnav">
                        <ul>
                            <li><a href="index.html" style="text-decoration: none;">Home</a></li>
                            <li><a href="appointment.html" style="text-decoration: none;">Appointment</a></li>
                            <li><a href="medicines.html" style="text-decoration: none;">Medicines</a></li>
                            <li><a href="login.html" style="text-decoration: none;">Login/SignUp</a></li>
                            <li><a href="profile.html" style="text-decoration: none;">Profile</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </div>
    <div class="toppart">
        <div class="skin">Diabetes Care</div>
        <div class="searchbar">
            <form>
                <input type="text" id="searchy" placeholder="Search for medicines..." name="searchy" onkeyup="SearchSkin()">
                <label for="searchy">
            <button><i class="fas fa-search"></i></button></label>
            </form>
        </div>
    </div>
    <div class="lowerpart">
        <div class="orderbox">
        <div class="orders">ORDER</div>
        <div class="order">MEDICINES</div>
        <div class="order">FROM YOUR</div>
        <div class="order">HOME</div>
    </div>
<div class="medy" id="medyc">
    <div class="med">
        <table>
            <tr>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Sugar Free Gold Sweetener Powder Jar</h3>Rs.500</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Contour Plus Glucometer Test Strips Box Of 50</h3>Rs.400</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Everherb Diabetic Care - Bottle Of 60</h3>Rs.199</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Liveasy Wellness Diabetic Protein Powder</h3>Rs.1400</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Everherb Karela Jamun Juice</h3>Rs.207</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Dr. Morepen Gluco One Bg 03 Glucometer</h3>Rs.602</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Liveasy Foods Sugarfree Chyavanposh</h3>Rs.305</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Accu-Chek Instant Glucometer Test Strips </h3>Rs.970</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="med1">
                        <div class="name"><h3>Sugar Free Gold Sweetener Tablets 300</h3>Rs.300</div>
                        <div class="meddata">
                            <div class="linking"><a href="#buy">Buy Now</a></div>
                        </div>
                    </div>
                    </div>
                </th>
            </tr>
        </table>
</div>

    <section class="footer">
        <div class="sec">        
            <div class="two">
                <div>
                    <h4>Company</h4>
                    <a href="#">About Us</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of use</a>
                </div>
                <div>
                    <h4>Community</h4>
                    <a href="#">Specialists</a>
                    <a href="#">Patients</a>
                    <a href="#">Blog</a>
            </div>
                <div>
                    <h4>Help</h4>
                    <a href="#">Support</a>
                    <a href="#">FAQ</a>
                    <a href="#">Mobile App</a>
                </div>
               <div>
                <div class="ghar">GharKaDoctor</div>
                <div class="follow">Follow Us</div>
                <div>
                    <div class="social">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-square-youtube"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
            </div>
            </div>
        </div>
    
            </div>
    </section>
        </div>
        <script src="back.js"></script>
</body>
</html>


    