<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="docprofile.css">
</head>
<body><div class="main">
    <nav>
        <div class="leftnav">GharKaDoctor</div>
        <div class="rightnav">
            <ul>
                <li><a href="gharkadoctor.html" style="text-decoration: none;">Home</a></li>
                <li><a href="gharkadoctor3.html" style="text-decoration: none;">Appointment</a></li> 
                <li><a href="#" style="text-decoration: none;">Medicines</a></li>
                <li><a href="#" style="text-decoration: none;">Login/SignUp</a></li>
                <li><a href="GharkaDoctor2.html" style="text-decoration: none;">Profile</a></li>
            </ul>
        </div>
    </nav>
</div>
    <div class="rightbiggerbox"><div class="docprofilepic"><div class="docname">Dr.AJ Pradeep (MBBS MD) <img src="logos/surgeon.jpg" width="200px" height="200px" style="border-radius: 50%;" alt=""></div></div><div class="docaddres">address of clinic</div></div>
    <div class="lefttopbox"><button class="appointment">Book your Appointment</button><button class="chatwithdoc">Chat with doc</button></div>
    <div class="righttopbox"><div class="rating">Ratting:High </div><div class="aboutdoc">About</div></div>



    <section class="footer">
        <div class="sec">
            <div class="two">
                <div>
                    <h4>Company</h4>
                    <a href="#">About Us</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of use</a>
                </div>
                <div>
                    <h4>Community</h4>
                    <a href="#">Specialists</a>
                    <a href="#">Patients</a>
                    <a href="#">Blog</a>
                </div>
                <div>
                    <h4>Help</h4>
                    <a href="#">Support</a>
                    <a href="#">FAQ</a>
                    <a href="#">Mobile App</a>
                </div>
                <div>
                    <div class="ghar">GharKaDoctor</div>
                    <div class="follow">Follow Us</div>
                    <div>
                        <div class="social">
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-square-instagram"></i>
                            <i class="fa-brands fa-square-twitter"></i>
                            <i class="fa-brands fa-square-youtube"></i>
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>