@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: poppins;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #27616E;
    height: 90px;
    font-family: poppins;

}

nav ul li{
    list-style-type: none;
    margin: 0 23px;    
    margin: 0 23px;
    position: relative;
    margin-left: 20px;
    left: 175px;

}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff; 
    font-size: 20px;
}
nav .leftnav{
    color: #6FD2E8;
    font-weight: 500;
    font-size: 35px;
    margin-left:-100px;
}
.btn1{
    z-index: 10;
    height: 129px;
    width: 200px;
    position: relative;
    top: -965px;
    right: -669px;
    width: 520px;
    background: #27616E;
    border-radius: 20px;
    font-size: 40px;
    color: #ffffff;}
.btn2{    /* z-index: 200; */
    /* height: 100px; */
    /* width: 200px; */
    /* position: relative; */
    /* top: -100px; */
    z-index: 10;
    height: 129px;
    /* width: 200px; */
    position: relative;
    top: -780px;
    right: -144px;
    width: 530px;
    background: #27616E;
    border-radius: 20px;
    font-size: 40px;
    color: #ffffff;
}
.bgimg img{
    z-index: 1;
    opacity: 10;
    width: 100%;
    margin-bottom: 0px;
}




.footer{
    margin-top: -150px;
}
.sec{
    padding: 40px 120px;
    background-color: rgb(244,244,253);
}

.two{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.two div{
    width: 200px;
}
.ghar{
    color: #27616E;
    font-weight: bolder;
    font-size: 20px;
}
.follow{
    font-weight: bolder;
    font-size: 13px;
margin-left: 40px;
margin-top: 10px;
color: #27616E;

}
.social{
    color: #27616E;
    margin-left: 20px;
}
.two h4{
    font-weight: bolder;
    color: #27616E;
    white-space: nowrap; 
margin-bottom: 10px;
}
.two a{
    display: inline-block;
    width: 200px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-decoration: none;
    color: #27616E;
    font-size: 0.9rem;
}