<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GharKaDoctor</title>
    <link rel="stylesheet" href="gharkadoctor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main">
        <nav>
            <div class="leftnav">GharKaDoctor</div>
            <div class="rightnav">
                <ul>
                    <li><a href="#" style="text-decoration: none;">Home</a></li>
                    <li><a href="appointment.html" style="text-decoration: none;">Appointment</a></li> 
                    <li><a href="medicines.html" style="text-decoration: none;">Medicines</a></li>
                    <li><a href="login.html" style="text-decoration: none;">Login/SignUp</a></li>
                    <li><a href="profile.html" style="text-decoration: none;">Profile</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <main class="section1" id="section1">
        <div class="rightbox"
            style="    width: 800px; background-color: #27616E;
    height: 680px; background-image: url('../logos/WhatsApp_Image_2024-04-27_at_21.07.03-removebg-preview\ \(1\).png');background-position: center;background-repeat: no-repeat;">
        </div>
        <div class="leftbox" style="width: 60%">
            <h2>CONNECT WITH TOP RATED DOCTORS IN JUST FEW CLICKS!</h2>
            <h3>Select your doctor and preferred time slot to book your appointment</h3>
            <div class="box" id="box2">
                <div class="bookyourappointment" id="bookyourappointment">Book your appointment here</div>
                  <p>Incase of Emergency use this button</p>
                <label for="search"><button class="btn2" id="s1" style="border-radius: 6px;
                        padding: 1px;
                        height: 2rem;
                        width: 7rem; background-color:rgb(224, 136, 242);
                        border: 1px solid rgba(0, 0, 0, 0.249);">Emergency</button></label>
            </div>
        </div>

    </main>
    <section>
        <div class="box3" id="box3">
            <div class="Consulttopdoc" id="Consulttopdoc">
                <h4>Consult top doctors online for any health concern</h4>
                <h6>Private online consultations with verified doctors in all specialists
                    </h5>
            </div>
            <div class="topic" id="circleshape1" style="display: flex;">
                <img src="../logos/skinproblem-removebg-preview-modifiedcircle.png" alt="alt" width="100px "
                    height="100px">
                <img src="../logos/pregnancyimg-modified.png" width="100px" height="100px" alt="">
                <img src="../logos/depression-modified.png" width="100px" height="100px">
                <img src="../logos/pediatrition-modified.png" width="100px" height="100px">
                <img src="../logos/coughcold-modified.png" width="100px" height="100px">
            </div>
            <div class="topic" id="rectangleshapetext">
                <span class="skinproblem">Skinproblem</span><span class="Preganancy">Preganancy</span><span
                    class="depression">Dpression and anxity</span><span class="Pediatrician">Pediatrician</span>
                <span>Cough and Cold</span>
            </div>
        </div>

    </section>
    <section class="howitworks" style="display: flex; justify-content: space-around; align-items: centre;">
        <div class="circle1" style="width: 100px; height: 100px; border: 1px solid rgba(0, 0, 0); border-radius: 50%;">
            <img src="../logos/findyourdoc.png" width="100px" height="100px">
        </div>
        <div class="circle2" style="width: 100px; height: 100px; border: 1px solid rgba(0, 0, 0); border-radius: 50%;">
            <img src="../logos/location.png" width="100px" height="100px">
        </div>
        <div class="circle3" style="width: 100px; height: 100px; border: 1px solid rgba(0, 0, 0); border-radius: 50%;">
            <img src="../logos/freetimeslot.png" width="100px" height="100px" alt="">
        </div>
        <div class="circle4" style="width: 100px; height: 100px; border: 1px solid rgba(0, 0, 0); border-radius: 50%;">
            <img src="../logos/getsolution.png" width="100px" height="100px" alt="">
        </div>
    </section>
    <h5 style="position: relative;bottom: 200px;right: -650px; font-size: 35px;width: 201px;">How it works</h5>
    <section class="texthowitworks" style="display: flex;justify-content: space-around;margin-top: -30px;">

        <div class="text1">Fing your Doctor</div>
        <div class="text2" style="position: relative;left: -10px;">Choose location</div>
        <div class="text3" style="position: relative; left: -10px;">Free time slot</div>
        <div class="text4" style="position: relative; left: -1px;">Get a solution</div>
    </section>
    <section class="howitworkscontent" style="display: flex;justify-content: space-around; width:100%">
        <div class="textcontent1" style="width:190px; position:relative;right: -18px;top: 5px;">Choose from a variety
            of our <span style="position: relative;left: 25px;">medical specialist</span></div>
        <div class="textcontent2" style="width:190px; position:relative;right: -18px;top: 5px;">Find doctor and medical <span style="position: relative;left: 11px;">offices in your area</span></div>
        <div class="textcontent3" style="width:190px; position:relative;right: -18px;top: 5px;">Choose the time that is the
             <span style="position: relative;left: 11px;">most convinent for you</span></div>
        <div class="textcontent4" style="width:190px; position:relative;right: -18px;top: 5px;">We can hold an appointment
            <span style="position: relative;left: 25px;">either on video or chat</span></div>
    </section>
    <section class="lastsection"><div class="biggerbox"><img src="../logos/lastsectionpg.png" width="1300px" style="position: relative;top: 47px;left: 100px; margin-bottom: -100px;" height="auto">
        <button class="btn5"><A href="appointment.html">Book Your Appointment Now</A></button>
    </section>
    <section class="footer">
        <div class="sec">
            <div class="two">
                <div>
                    <h4>Company</h4>
                    <a href="#">About Us</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of use</a>
                </div>
                <div>
                    <h4>Community</h4>
                    <a href="#">Specialists</a>
                    <a href="#">Patients</a>
                    <a href="#">Blog</a>
                </div>
                <div>
                    <h4>Help</h4>
                    <a href="#">Support</a>
                    <a href="#">FAQ</a>
                    <a href="#">Mobile App</a>
                </div>
                <div>
                    <div class="ghar">GharKaDoctor</div>
                    <div class="follow">Follow Us</div>
                    <div>
                        <div class="social">
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-square-instagram"></i>
                            <i class="fa-brands fa-square-twitter"></i>
                            <i class="fa-brands fa-square-youtube"></i>
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
<script src="back.js"></script>
</body>

</html>