* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.upper {
    background-color: #27616E;
    padding-bottom: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #27616E;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
}

nav .leftnav {
    color: #6FD2E8;
    font-weight: 500;
    font-size: 24px;
    font-weight: bold;
    margin-right: 100px;
    margin-left: 50px;
}

.headertext {
    text-align: left;
    margin-left: 150px;
    padding: 20px;
    background-color: #27616E;
    color: #ffffff;
    display: flex;
    padding: 0px;
    height: 350px;
}

.firstl {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 20px;
}

.pic {
    margin-left: 150px;
}

.pic img {
    height: 400px;
    margin-top: -40px;
}

.searchbar {
    margin-left: 150px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    width: 700px;
}

.searchbar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
}

.searchbar button {
    padding: 10px 20px;
    border: none;
    background-color: #27616E;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.searchbar button i {
    font-size: 20px;
}

.browse {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 30px;
}

.up1, .up2 {
    display: flex;
}

.med1 img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 409px;
    height: auto;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-top: 40px;
    margin-left: 30px;
}

.meddata {
    margin-top: 0px;
    font-size: 30px;
    background-color: #E7F9EE;
    border: 1px solid transparent;
    margin-bottom: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    width: 403px;
    height: 50px;
    margin-left: 30px;
}

.meddata a {
    color: black;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}
.container{
    display: flex;
}


.box1{
    height: 400px;
    width: 700px;
    background-color: #90EE90;
    margin-left: 30px;
}
.box1 img{
    width: 550px;
    height: 420px;
margin-left: 200px;
margin-top: -210px;
}
.box2{
    height: 400px;
    width: 700px;
    background-color: #CBC3E3;
    margin-left: 30px;
}
.box2 img{
    width: 650px;
    height: 400px;
margin-left: 160px;
margin-top: -240px;
}
.box1 a,.box2 a{
    color: white;
    text-decoration: none;
}
.home, .hrs{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 30px;
}
.home{
    margin-top: 140px;
}
.know{
    margin-top: 20px;
    margin-left: 30px;
}
.know img{
    width: 1430px;
}


.footer{
    margin-top: 40px;
}
.sec{
    padding: 40px 120px;
    background-color: rgb(244,244,253);
}

.two{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.two div{
    width: 200px;
}
.ghar{
    color: #27616E;
    font-weight: bolder;
    font-size: 20px;
}
.follow{
    font-weight: bolder;
    font-size: 13px;
margin-left: 40px;
margin-top: 10px;
color: #27616E;
width: 100px;
}

.social{
    color: #27616E;
    margin-left: 20px;
}
.two h4{
    font-weight: bolder;
    color: #27616E;
    white-space: nowrap; 
margin-bottom: 10px;
}
.two a{
    display: inline-block;
    width: 200px;
    margin-bottom: 7px;
    white-space: nowrap;
    text-decoration: none;
    color: #27616E;
    font-size: 0.9rem;
}

.full {
    display: flex;
}

.leftportion {
  width: 250px;
  position: sticky;
}

.rightportion {
 
    width: 1000px;
    
}