<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GharKaDoctor</title>
    <link rel="stylesheet" href="Gharkadoctor2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <section class="section1">
        <div class="main">
            <nav>
                <div class="leftnav">GharKaDoctor</div>
                <div class="rightnav">
                    <ul>
                        <li><a href="index.html" style="text-decoration: none;">Home</a></li>
                        <li><a href="appointment.html" style="text-decoration: none;">Appointment</a></li>
                        <li><a href="medicines.html" style="text-decoration: none;">Medicines</a></li>
                        <li><a href="login.html" style="text-decoration: none;">Login/SignUp</a></li>
                        <li><a href="profile.html" style="text-decoration: none;">Profile</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <section class="section2">
        <div class="box1" id="box1">
            <span class="helenatodpic">
                <img src="../logos/helenatod.png" alt="error">
            </span>
            <span class="../helenatodtext">Hellena Tod</span>
            <span class="../helenatodtext2">73 years, Female</span>
            <span class="../helenatodgeneralinfo" style="font-size: 23px; font-family: poppins;">
                <pre>General info</pre><span class="helenatoddob" style="position: relative;top: 20px;font-size: 18px;">
                    <pre>Date of birth           13/01/1990</pre>
                </span> <span class="helenatodidnumber" style="position: relative; top: 30px; font-size: 18px;">
                    <pre>ID number               110 029 029 992 </pre>
                </span>
        </div>
        <div class="box2" id="box2" style="height: 521px;width:448px ;"><span class="upcomingsppointment">
            <pre style="position: relative;top: 20px;left: 15px;">Upcoming appointments</pre>
            <span class="outerboxofgeneralcheckup" style="display: flex; flex-direction: column; position: relative;left: 10px;">
                <span class="genralcheckup" style="padding-top: 10px;">
                    <pre style="border: 0px solid black;border-radius: 10px;padding-top: 13px; width: 410px;height: 45px; position: relative;top: 2px; background-color: rgba(243, 248, 253); font-size: 20px;"> General check-up                           Aug 24</pre>
                </span>
                <span class="nutrients" style="padding-top: 10px; "><img src="logos/nutrients.png"  style="z-index: 1;position: relative;right: 5px;" alt="">
                    <pre style="border: 0px solid black;border-radius: 10px;padding: 3px;padding-top: 13px; width: 410px;height: 45px; position: relative;top: -78px; background-color: rgb(243, 248, 253);font-size: 20px;">        Nutritionist check-up               Aug 28</pre>
                </span></span>
                </span>
                <span class="aupcomingsppointment">
                    <pre style="position: relative;top: 20px;left: 15px;">Recent appointments</pre>
                    <span class="outerboxofgeneralcheckup" style="display: flex; flex-direction: row; position: relative;left: 10px;"><img src="logos/dentist.png" alt="error" width="50px" height="50px" style="z-index: 1; position: relative;bottom: 5px;" >
                        <pre style="border: 0px solid black;border-radius: 10px;padding-top: 4px; width: 410px;height: 45px; position: relative;top: 0px; background-color: rgba(243, 248, 253); font-size: 20px; z-index: 0;left: -38px;">      Dentist                                           Aug 20  </pre></span>
                        <span class="btn"><img src="../logos/bookappointment.png" alt="error"><button>BOOK YOUR APPOINTMENT</button></span>
                        
        </div>
        <div class="box3" id="box3" style="height: 449px; width: 449px;"><img src="../logos/yourmedicines.png" style="    width: 449px;
            height: 449px;
            border-radius: 20px;" alt="error"></div>
        
    </section>
    <section class="footer">
        <div class="sec">        
            <div class="two">
                <div>
                    <h4>Company</h4>
                    <a href="#">About Us</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of use</a>
                </div>
                <div>
                    <h4>Community</h4>
                    <a href="#">Specialists</a>
                    <a href="#">Patients</a>
                    <a href="#">Blog</a>
            </div>
                <div>
                    <h4>Help</h4>
                    <a href="#">Support</a>
                    <a href="#">FAQ</a>
                    <a href="#">Mobile App</a>
                </div>
               <div>
                <div class="ghar">GharKaDoctor</div>
                <div class="follow">Follow Us</div>
                <div>
                    <div class="social">
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <i class="fa-brands fa-square-youtube"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
            </div>
            </div>
        </div>
    
            </div>
    </section>
</body>

</html>